<% if notes.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
    </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><%= Spree.t('admin.note')%></th>
            <th><%= Spree.t('admin.created_by')%></th>
            <th><%= Spree.t('admin.created_at')%></th>
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody>
          <% notes.each do |note| %>
            <tr>
              <td style='max-width: 400px;'><%= note.note %></td>
              <td><%= note.user&.email %></td>
              <td><%= note.created_at %></td>
              <td class="actions">
                 <span class="d-flex justify-content-end">
                  <%= button_to Spree.t(:delete),{ action: "destroy", id: note.id }, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger'%>
                </span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
