<% @user = @behaveable %>
<%= render 'spree/admin/users/sidebar', current: :notes %>

<% content_for :page_title do %>
  / <%= Spree.t('admin.notes') %>
<% end %>

<div class="card" data-hook style="margin-bottom: 20px;">
  <div class="card-body">
    <%= form_for [:admin, :users, Spree::Note.new], url: admin_user_notes_path(@user) , method: :post do |f| %>
      <%= render 'spree/admin/notes/form', f: f %>
    <% end %>
    <%= render 'spree/admin/notes/list', notes: @notes %>
  </div>
</div>
